.plan-filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.plan-filter {
  appearance: none;
  background-color: white;
  background-image:
    /* svg modified from Material Design: https://material.io/resources/icons/?icon=arrow_drop_down&style=baseline */
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M7 10l5 5 5-5z" fill="%23dedede"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-position: top 50% right 2px;
  background-repeat: no-repeat;
  border-color: #dedede;
  color: inherit;
  margin-left: 0.5em;
  padding: 4px 25px 4px 10px;
}

.plan-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  border: #dedede solid 1px;
}

.plan-list > li {
  flex: 1 0 0;
  flex-direction: column;
  list-style: none;
  border: #dedede solid 1px;
  padding: 5px 15px 30px 15px;
}
