.container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.color {
  color: #97c17c;
  font-size: 0.8em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  height: 1em;
  margin-bottom: 1.5em;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1em;
}

.pricingContainer {
  font-size: 0.8em;
}

.price {
  font-size: 2em;
  margin-left: 0.1em;
}

.billedAs {
  font-size: 0.8em;
  white-space: nowrap;
}


/* This keeps the list items left-align with the description */
.descriptionAndFeatures {
  display: flex;
  flex-direction: column;
}

.description {
  text-align: center;
  margin-top: 2.5em;
  margin-bottom: 2em;
  min-width: 180px;
}

.planFeatures {
  padding-left: 0;

  /*
  These two rules are a compromise to not having a good way
  to left-align the list items with the left-most character in
  the centered text in the plan description.
  */
  width: 80%;
  align-self: center;
}

.planFeatures > li {
  list-style-type: none;
  line-height: 1.6;
  white-space: nowrap;
}

.planFeatures > li.otherFeatures {
  white-space: normal;
}

.planFeatures > li::before {
  content: '→';
  margin-right: 1ex;
}

.protonVpn {
  white-space: nowrap;
}

.footer {
  margin-top: 25px;
}

.button {
  color: white;
  background-color: #9199cb;
  border-radius: 2px;
  border-width: 0;
  padding: 0.6em 1.5em;
}
